html {
  background-color: rgb(70, 66, 66);
  color: gainsboro
}
.navLink {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end;
  align-items: flex-end; */
  /* padding-top: 3%; */
  height: 100vh;
  padding-right: 1%; /* Add desired padding */
}

.header {
  position: fixed;
  top: 0;
  right: 0;

}
.hbl{
  background-color: rgb(231, 145, 24);
  padding: 70% 0%;
  text-align: center;
  border: white 3px solid;
  border-radius: 45%;
  color: black;
  cursor: pointer;
  font-weight: 700;
  text-decoration: wavy;
  margin-bottom: 8%;
}
/* #shorty{
  background-color: darkmagenta;
  padding: 50% 0%;
  text-align: center;
  border: white 3px solid;
  border-radius: 25%;
  color: white;
} */
.kevo {
	max-width: 100%;
  min-width: 200px;
  max-height: 100%;
  min-height: 100px;
  height:auto;
	background-image: url("./kevo.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
  }
  .kevio {
    max-width: 100%;
    min-width: 200px;
    max-height: 100%;
    min-height: 100px;
    height:auto;
    background-image: url("./kevio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    }
.ye {
      max-width: 80%;
      min-width: 80%;
      
      height: auto;
      background-image: url("./ye.jpeg");
      background-repeat: no-repeat;
      background-size:cover;
      }
#resume {
        max-width: 100px;
        min-width: 90px;
        height: auto;
        background-image: url("./resume.jpeg");
        background-repeat: no-repeat;
        background-size: contain;
        }
#linkedin {
          max-width: 10px;
          min-width: 90px;
          height: auto;
          background-image: url("./linkedin.png");
          background-repeat: no-repeat;
          background-size: contain;
          }
#github {
            max-width: 10px;
            min-width: 90px;
            height: auto;
            background-image: url("./github.png");
            background-repeat: no-repeat;
            background-size: contain;
            }
.exsect3 {
  text-align: center;
  color:orange;
  

}   
.exsectP {
  margin: 0 20% 0 5%;
  line-height: 2.5;
  font-weight: bolder;
}         
.proA {
  display: inline-block;
  vertical-align: middle;
  /* margin-bottom:'150px'; */
  font-size: 16px;
  font-weight:bold;
  
  
}
.foot {
  border-top: 4px white solid;
  padding-top: 13px;
  background-color: black;
  padding-bottom: 5%;
  margin-bottom: -7%;
  
}
.custom-checkbox {
  width: 340px;
  height: 80px;
}
.custom-checkbox input#status {
  display: none;
}
.custom-checkbox input#status + label {
  height: 100%;
  width: 100%;
}
.custom-checkbox input#status + label > .status-switch {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: grey;
  color: white;
  transition: all 0.5s ease;
  padding: 3px;
  border-radius: 3px;
}
.custom-checkbox input#status + label > .status-switch:before, .custom-checkbox input#status + label > .status-switch:after {
  border-radius: 2px;
  height: calc(100% - 6px);
  width: calc(50% - 3px);
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  transition: all 0.3s ease;
}
.custom-checkbox input#status + label > .status-switch:before {
  background-color: white;
  color: black;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  left: 3px;
  z-index: 10;
  content: attr(data-unchecked);
}
.custom-checkbox input#status + label > .status-switch:after {
  right: 0;
  content: attr(data-checked);
}
.custom-checkbox input#status:checked + label > .status-switch {
  background-color: #40c253;
}
.custom-checkbox input#status:checked + label > .status-switch:after {
  left: 0;
  content: attr(data-unchecked);
}
.custom-checkbox input#status:checked + label > .status-switch:before {
  color: #40c253;
  left: 50%;
  content: attr(data-checked);
}
        
      